Source: ambulant
Section: graphics
Priority: optional
Maintainer: CWI Ambulant Team <ambulant@cwi.nl>
Build-Depends: debhelper (>= 7), dh-autoreconf, automake, autoconf, autotools-dev, autopoint, gettext,
 libgtk-3-dev, libgtk2.0-dev | libgdk-pixbuf2.0-dev, gconf2,
 libxml2-dev, libltdl-dev,
 libdispatch-dev,
 libavformat-ffmpeg-dev | libavformat-dev, 
 libavcodec-ffmpeg-dev | libavcodec-dev, 
 libswscale-ffmpeg-dev | libswscale-dev, 
 libswresample-ffmpeg-dev | libswresample-dev, 
 libxerces-c-dev, libexpat1-dev, python-dev, python-gtk2-dev, python-gobject-dev,
 libsdl2-dev, libsdl2-image-dev
Standards-Version: 3.9.1
Homepage: http://www.ambulantplayer.org

Package: libambulant
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdispatch0, libxerces-c | libexpat1
Suggests: libxml2, 
 libavcodec54-ffmpeg | libavcodec53, 
 libavformat54-ffmpeg | libavformat53, 
 libswscale2-ffmpeg | libswscale2, 
 libswresample0-ffmpeg | libswresample0,
 libsdl2-2.0-0, 
 libsdl2-image-2.0-0
Description: Ambulant SMIL multimedia player - core engine
 SMIL 3.0 multimedia playback engine.
 .
 This package contains the core engine.
 
Package: libambulant-dev
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, libambulant (= ${binary:Version}), ${misc:Depends}
Description: Ambulant SMIL multimedia player - developer files
 SMIL 3.0 multimedia playback engine.
 .
 This package contains files needed when you want to extend (or embed)
 Ambulant in C/C++.

Package: ambulant-plugins
Architecture: any
Depends: ${shlibs:Depends}, libambulant (= ${binary:Version}), ambulant-common, ${misc:Depends}
Suggests: ambulantplayer
Description: Ambulant SMIL multimedia player - xls and xml plugins
 SMIL 3.0 multimedia playback engine.
 .
 This package contains the xls and xml plugins
 .
 The python package provides the python plugin.
 
Package: ambulant-plugins-dev
Architecture: any
Depends: ${shlibs:Depends}, ambulant-plugins (= ${binary:Version}), libambulant-dev, ${misc:Depends}
Suggests: ambulantplayer
Description: Ambulant SMIL multimedia player - developer plugins
 SMIL 3.0 multimedia playback engine.
 .
 This package contains the xls and xml plugins for develop
 .
 The python package provides the python plugin for develop.
 
Package: ambulant-common
Architecture: any
Depends: ${misc:Depends}
Suggests: ambulantplayer
Description: Ambulant SMIL multimedia player - common files
 SMIL 3.0 multimedia playback engine.
 .
 This package contains the common files for all ambulant components
 
Package: ambulant-gtk
Architecture: any
Depends: ${shlibs:Depends}, libambulant (= ${binary:Version}), ambulant-common, ${misc:Depends}
Recommends: ambulant-plugins
Provides: ambulantplayer
Description: Ambulant SMIL multimedia player - GTK application
 SMIL 3.0 multimedia playback engine.
 .
 This package contains the gtk front-end.
 
Package: ambulant-sdl
Architecture: any
Depends: ${shlibs:Depends}, libambulant (= ${binary:Version}), ambulant-common, ${misc:Depends}
Recommends: ambulant-plugins
Description: Ambulant SMIL multimedia player - SDL application
 SMIL 3.0 multimedia playback engine.
 .
 This package contains the SDL front-end, which is mainly a building block for
 other software, as a standalone SMIL player ambulant-gtk is preferred.
 
Package: ambulant-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libambulant (= ${binary:Version})
Suggests: python-gtk2
Description: Ambulant SMIL multimedia player - Python API
 SMIL 3.0 multimedia playback engine.
 .
 This package contains files needed when you want to extend (or embed)
 Ambulant in Python.
