Source: ambulantplayer-app
Section: user/multimedia
Priority: optional
Maintainer: Kees Blom <Kees.Blom@cwi.nl>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: ambulantplayer-app
Architecture: any
Pre-Depends: maemo-select-menu-location
Depends: ${shlibs:Depends}
Description: AmbulantPlayer is a SMIL 2.1 player for the  Nokia 770.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAABGdBTUEAANbY1E9YMgAAABl0RVh0
 U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAUfSURBVHjaYvz//z8DvQBAADGBSVNTBgZG
 RmScBcS/gfgHFIPY84GYGUVdSQlJlgEEEAPIZyC/QbE1EB8C4rtA/B8N/wXi00DcAsRMcD0FBQz/
 f/+GmEMAAwQQsmU2QPwRbDAjECsAcRsQ9wCxFRAzoVicDsRscAt7exn+//hB0DKAAGIE2wgKEgaG
 g0Bsx8ANJKuAWAiIzwPxPyBWA2KQ+AQgvg0PFFcg3gPnbdjAwODvjzcUAQII5rNsIL73XxjIrQTi
 KCDWQfKJHBD7AHEzECvDxZcAMTfcd35+DP8/fsTrM4AAglkGYZYDcSE0GCFioPibCZd3A+JpQMwJ
 5v8AYkmk+Gb4f/8+XssAAogF6sGfQMzOIAYkr0N1MjAcBWJnIP4NxKJAHMjwEkiKw9PwD7hKEODg
 AIoz4Q1FgABClf0DxIxw3imoRSCwBkwyQ9WQCQACiIWAQ9yBWAVKUwwAAgifZb+AOA+IvVBEcAFg
 0mcgUBoBBBALAcd8A8eRLNQiXYyAZ3hlbw/MHv8YGNnZGUS4uJBiARMABBAhyxgZLIBkIthaBgYp
 IP4EzXtQcLGri+Hfnz8MrCwsDA6iogwf3scwCAp+xWLUegaAAGIhWHZuA5J7gfgvEBsBcT6q75i/
 fWNgBFrGzMoK9uH37yuBlmFLRfEMAAGEL62ygcuS3wxpDF8YljF8h/rqP9RiWDAjuwyY9BkZeXAY
 t4gBIIBYCATxDRD+xcr6m4mFLYqJj5nhPxMwx3P9Y/jFL8j0RVnRkZGB5T0TUIyRkYn5+/dvJ4Eu
 +YbLQIAAwmcZPGntr6v7LcYvwPCb4wMDM+8fBq6+/ww/JMV4v0jKb/j78hnDnz+gEoKL4ejR821a
 2uKzGRg+t0H1M0J9nw0qOAACiIWY/PHG0OQPIx8Dw6ULjQySn+4xBDowM7De+8fwk/8Pw7pLDAwP
 7/1hEBLSZZCVLyxh+qNmyHDhjifDK2hwg1KzIQMn0No8gABiQUt7KOAfMA4u+fgwMP/6xcD08x/D
 n6/PgWpeMXA9BEqWAp1eDixQgKXKT2Bh9+bNEWAQs7HpKX/0ZOiEZhVhYBFkwszwS5shai373w6A
 AEK1jBmKYeEItOyqqytciJmZmeHNU2AtY8LAoOoClP8CtJsLUiSCaqmXL/cxfHgLLmUZPhcAqxGg
 ZcryjAzXngrOXq/w5jJAAMEsYweTy6EpDirGDEzSbMCk/Ree2hgYXgAL4xs3gZaxYGZwRkZECDED
 Uy8H0MdsP/8yqIt93LOe4T8zQADBLFsIriLPgAPyP9R/51+oqwMTBQcDM1IxBDKQiRGlvAeXUv/+
 QaMBpPMzAwNXOwODOjCeGcz+M7CV/loKZN0CCCCYZQnYEsa26mqG/0Df8f39gxq+yPEKtAhYeDDw
 ALPXu4/Q0oULmv5AtfpJSKoHNlO4AQIIb2pkAjr3H67C9TekumEGGmxmxsCgpMTAsHMvtCz+DrXo
 McSNb97aMJw9GxEIEEAsBNoMGFnvP6xpBaxWmfkZGFifAItMKQgWEgDKcQLlPKG1IQOkznj8mJXh
 61eRHIAAglhmaIhWW/xg+PL1K0aZzMjIwsDGysTw+CEjwz5VYOoGBtvLRwzgFHr5MrD9dxeSZt4o
 AkNTDhKHoER1/8wRBj4+W3aAAGLE1iK+cu0asDQ4ysAOLFz/AYOSh4c3XExMcMWHDxeApcUnoBgT
 w5+/kPQAii9YAgGx/wLF//5DyrOgOGVmBBbOWgwAAQYA1bQ8CTKXuRIAAAAASUVORK5CYII=
