Source: ambulantplayer-app
Section: user/multimedia
Priority: optional
Maintainer: Kees Blom <Kees.Blom@cwi.nl>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: ambulantplayer-app
Architecture: any
Pre-Depends: maemo-select-menu-location
Depends: gstreamer0.10-gnomevfs
Description: AmbulantPlayer is a SMIL 3.0 player for the  Nokia 800/810.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA
 BGdBTUEAANjr9RwUqgAAACBjSFJNAABtbQAAct0AAPYtAACGCwAAbeoAAOZDAAAxwAAAFzTSDHht
 AAAFcUlEQVR42mL4z8DAgIa9gPg/EL8C4udQ9mQs6kjDQFMAAghZQBuI30MNx4Y/APECSiwDCCBk
 ixAGSwLxZiDeA8TmGJZGkWsZQAAxghhA8AaIhcGsY0AsD8QLgPgPEPsCsSwQmwLxAwYYsAfiQwyk
 AKBlAAGEiCM2IF4FxHVArIHkEzEgTgfiNUAsDRe/SY7PAAKIAW7oHCCejxJcu4HYF84PA+LXKPJE
 WfLwvwoQK4ItAwggJiD/Bdib0ijBdAKIXYF4MxDvBYvcBWIRkgKOYco3BgZuYFywM/wG8wECCGQZ
 hPUDiFnh6nqR9FSASVbSLJoN9BbfNQagRf8ZmN//A4sBBBALDrUsUL96A3EkWOQf8RbNA1l0k4GB
 8TUDA/NPIP0XIg4QQLgsewUKBSAOgIuAAvsvERYBUzD/HaBrgRb9BlmE5EiAAMJlGShQbzJIAElt
 IL4PxP7QrIAnaa94I8/Ae/URA8cXIBdo0R+00AAIIFyWMQIxM0MikGwD4s9AzAtNXljASqBF4UCa
 8+ZLBgagJUxA3f+wBDtAADHhsIwLiCUY2qHW8gGxIQPYIIxg+/WfgefeezCb+fNPBqbfqEGHDAAC
 CJdlYkAcC8SZQLwDLPIOM5HMB/qI/+ZtBs43byGGQX2OIwAYAAIIl2XCUHoGEE8Ds9iB+CtCwf4V
 hxn4gXyeD79ZORnYxcBhz8LE8JcZGFfAyPkNokHBCbT6P9R6gADCFWcgoxnm7tzJwP3kFZsapwzD
 L+7vDH+/MzFwrmVk+KQhxfBNQ/s/95k7DKx/vjP8Y+JhWL76dauANE/NV8ZPGv85GJj+/mZg+QtM
 Zr8Y/l369w+SjAECiAWfj5+5uTEI3Hv5R5CHg2H9UkMG1pf3GSancjMwnPwOVPGPofIwsMK7wsCg
 rCLPoGt5qNrTSq6aYQpQYD9QMwcQ1wLzEKdqx7/fPytB5gEEECIYWTFLCZ4X7xj4Hj1jFnj8jIH9
 6X1wOmE4BQw7C2DkbYMUX2zApPTy5UOGo1cjGH7dAqooB4orMlxgWAakZ4JS2mteXr43YPMAAogF
 bgUfNHlDADM4DoDplwmImf8zMvBzczDcvfCD4XoqA4NmFlDyE1ARUCcb0AdcQPr1q+MMH4BiYpZA
 uR6GxUATDECFAA/DFXhMAwQQCziJg0ANEH+AWyaBkukYGRlYWRkZfgK17QPWYprQUGD8BZIDhigw
 fP4B5V4ZAS0TAfusF1wsHIWbDAYAAQQKxrVA/B1YFX5luARWAgLXwJb8/QtPx6CMygp0GicLIguA
 6hlQ3P8BlixMwCTF/QQoyAaM6z3CDH/DmWHVqzHMMoAAAlkWAs3EPKBCAJqNQUmegePzZwbWX78Y
 ET6ESIIdALTkFzADf/sGsewbELMBy0QGYP4+p/yD4fMnoIKzkAhasQ7iYoAAwpXPGLo/f2dgf/+O
 gekXotgAtSGY/kKLL2Cw/QJa5OkGTBPARMEO9BG3ICe4CPDx+cogMB+oRhxUfofsFBJiCAPpBwgg
 nJbxPH/OwPblCzgo////y/DnLzA/Ae3lANldCsR+wJIdmAO0gQW1JNBQAaCXf0sABS4C5aKBeAMk
 ts6fvcDw6vnhlSAzAQIIaz7r/PabQfzCBQaWn0CT/zGx/f37k+E/MJ7YgKqvngTGO7AGeHMZmJ6A
 ddYcYDyJAy17fIOBYdEWBgZzH2CV4QwMBWCw/jnPwLBs2h0GN8eDQFNtGQACiBFbOTbx+TMGkavX
 GNg+fmL4/4fBR0lJa/ObN8d//vr968vfv3z/339mYmAFhgkvLySxgEp4NmAwfv76n+Hz