<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>WebPluginName</key>
	<string>npambulant.plugin</string>
	<key>CFBundleExecutable</key>
	<string>npambulant</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.ambulantplayer.firefoxplugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>WebPluginDescription</key>
	<string>Play SMIL multimedia documents with the Ambulant engine</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/smil+xml</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>smi</string>
				<string>smil</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>SMIL Presentation</string>
		</dict>
		<key>application/smil</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>smi</string>
				<string>smil</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>SMIL Presentation</string>
		</dict>
		<key>application/x-ambulant-smil</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>smi</string>
				<string>smil</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>SMIL Presentation</string>
		</dict>
	</dict>
</dict>
</plist>
