<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>smil</string>
				<string>smi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AmbulantDocSmil.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/smil</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SMIL document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SMIL</string>
				<string>.SMI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>grins</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AmbulantDocGrins.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-grins-smil</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GRiNS SMIL document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GRIN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdtb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AmbulantDocDaisy.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-daisy</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Daisy document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Ambulant Player Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Ambulant Player Help</string>
	<key>CFBundleIconFile</key>
	<string>Ambulant</string>
	<key>CFBundleIdentifier</key>
	<string>org.ambulantplayer.ambulantplayer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Ambl</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>ambulant indirect URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ambulant</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>rtsp URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rtsp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>http URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>file URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>file</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.6</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
