AMBULANT_BUILDDIR = $(AMBULANT_DIR)/build-iOS-Device
PREBUILT_AMBULANT_ROOT = $(AMBULANT_BUILDDIR)
AMBULANT_3PP = $(CONFIGURATION_BUILD_DIR)/third_party_packages
AMBULANT_LIB_3PP = $(AMBULANT_3PP)/installed/lib
AMBULANT_INCLUDE_3PP = $(AMBULANT_3PP)/installed/include
LIBRARY_SEARCH_PATHS = $(inherited) $(AMBULANT_LIB_3PP) 
USER_HEADER_SEARCH_PATHS = $(AMBULANT_DIR)/include $(AMBULANT_INCLUDE_3PP) $(AMBULANT_INCLUDE_3PP)/SDL2
PKG_CONFIG_LIBDIR= $(AMBULANT_LIB_3PP)/pkgconfig
SDKROOT=iphoneos
TARGETED_DEVICE_FAMILY = 1,2
