AMBULANT_BUILDDIR = $(AMBULANT_DIR)/build-3264
PREBUILT_AMBULANT_ROOT = $(AMBULANT_BUILDDIR)
AMBULANT_3PP = $(CONFIGURATION_BUILD_DIR)/third_party_packages
AMBULANT_LIB_3PP = $(AMBULANT_3PP)/installed/lib
AMBULANT_INCLUDE_3PP = $(AMBULANT_3PP)/installed/include
LIBRARY_SEARCH_PATHS = $(inherited) $(AMBULANT_LIB_3PP)
ARCHS = $(ARCHS_STANDARD_32_64_BIT)
USER_HEADER_SEARCH_PATHS = $(AMBULANT_DIR)/include $(AMBULANT_DIR)/libltdl $(AMBULANT_INCLUDE_3PP) $(AMBULANT_INCLUDE_3PP)/SDL2 $(AMBULANT_INCLUDE_3PP)/libxml2


